In [ ]:
age=19
print(type(age))

<class 'int'>

In [ ]:
x='hello'
print(x)

hello

In [ ]:
x=89
a=6.9
y='hello'
z=('apple','cat')
a=['oro','aro']
print(a,x,y,z)

['oro', 'aro'] 89 hello ('apple', 'cat')

In [ ]:
x=int(input("enter number1:"))
y=int(input("enter number2:"))
ch=int(input("enter ur choice:"))
if ch==1:
    z = x+y
    print("addition:", z)
elif ch==2:
    z = x-y
    print("subtraction:", z)
elif ch==3:
    z = x*y
    print("multiplication:", z)
else:
    z = x/y
    print("division:", z)

enter number1:9
enter number2:8
enter ur choice:2
subtraction: 1

In [ ]:
import math
sa = int(input("enter side1"))   #sides
sb = int(input("enter side2"))
hyp= math.sqrt(sa*sa + sb*sb)  #calculating
print("The hypotenuse is:",hyp)

enter side12
enter side23
The hypotenuse is: 3.605551275463989

In [ ]:
r=int(input("enter rate"))   #rate
p=int(input("enter principle"))  #principle
t=int(input("enter time(in yrs)"))   #time in years
si=(p*t*r)/100   #simple interst formula
print("simple interest:",si)

enter rate3
enter principle4
enter time(in yrs)2
simple interest: 0.24

In [ ]:
import math
x=int(input("enter side1:"))  #sides are x,y,z
y=int(input("enter side2:"))
z=int(input("enter side3:"))
s=(x+y+z)/2
a=math.sqrt(s*(s-x)*(s-y)*(s-z))  #herons formula
print("the area of triangle is",a)

enter side1:6
enter side2:6
enter side3:6
the area of triangle is 15.588457268119896

In [ ]:
secs = int(input("Enter total seconds:"))
hrs = secs // 3600
rem_sec = secs % 3600
minutes = rem_sec // 60
remaining_seconds = rem_sec % 60
print("Hours:", hrs)
print("Minutes:", minutes)
print("Seconds:", remaining_seconds)

Enter total seconds:8000
Hours: 2
Minutes: 13
Seconds: 20

In [1]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
a, b = b, a   # swapping without temp variable
print("After swapping:")
print("a =", a)
print("b =", b)

Enter first number: 4
Enter second number: 5
After swapping:
a = 5
b = 4

In [2]:
n = int(input("Enter n: "))
s= n * (n + 1) // 2
print("Sum of first", n, "natural numbers is:", s)

Enter n: 6
Sum of first 6 natural numbers is: 21

In [3]:
print("A B | A&B A|B A^B")
for a in [0, 1]:
    for b in [0, 1]:
        print(a, b, "|", a & b, " ", a | b, " ", a ^ b)

A B | A&B A|B A^B
0 0 | 0   0   0
0 1 | 0   1   1
1 0 | 0   1   1
1 1 | 1   1   0

In [4]:
n= int(input("Enter a number: "))
sh= int(input("Enter shift value: "))
print("Left shift:", n << sh)
print("Right shift:", n >> sh)

Enter a number: 3
Enter shift value: 2
Left shift: 12
Right shift: 0

In [5]:
seq = (10, 20, 56, 78, 89)
num = int(input("Enter number to search: "))
if num in seq:
    print(num, "is present in the sequence")
else:
    print(num, "is NOT present in the sequence")

Enter number to search: 10
10 is present in the sequence