In [ ]:
#find a factorial of given number
n=int(input("Enter a number:"))
for i in range(1,n+1):
    if n%i==0:
        print(i)

Enter a number:55
1
5
11
55

In [ ]:
#whether given number is armstrong or not
n = int(input())
s = 0
digits = 0
for _ in str(n):
    digits += 1
for d in str(n):
    s += int(d) ** digits
print("Armstrong" if s == n else "Not Armstrong")

143
Not Armstrong

In [1]:
#fibonacci series
n = int(input("Enter number of terms: "))
a, b = 0, 1

for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter number of terms: 22
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946

In [ ]:
#given no is prime or not
num=int(input("Enter a number:"))
if num <= 1:
    print("Not Prime")
else:
    for i in range(2, num):
        if num % i == 0:
            print("Not Prime")
            break
    else:
        print("Prime")

Enter a number:5
Prime

In [3]:
#given number is palindrome or not
n = int(input("Enter a number: "))
temp = n
rev = 0
while n > 0:
    rev = rev * 10 + n % 10
    n //= 10
if temp == rev:
    print("Palindrome number")
else:
    print("Not a palindrome number")

Enter a number: 121
Palindrome number

In [ ]:
#print sum of digits
num=int(input("Enter a number:"))
sum=0
while num>0:
    digit=num%10
    sum=sum+digit
    num=num//10
print("sum of numbers:",sum)

Enter a number:12344
sum of numbers: 14

In [ ]:
#count and print all numbers divisible by 5 or 7 lie between 1 to 100
count=0
for i in range(1,101):
    if i%5==0 or i%7==0:
      count+=1
      print(i)
print("count:", count)

5
7
10
14
15
20
21
25
28
30
35
40
42
45
49
50
55
56
60
63
65
70
75
77
80
84
85
90
91
95
98
100
count: 32

In [ ]:
#convert all lower cases to upper case in string
s=input("enter string: ")
print(s.upper())

enter string: mehak
MEHAK

In [ ]:
#print table of given  number
num=int(input("Enter a number:"))
for i in range(1,11):
    print(num,"*",i,"=",num*i)

Enter a number:3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [4]:
n = 5

for i in range(n):
    # left numbers
    for j in range(1, n - i + 1):
        print(j, end="")
    # stars
    for j in range(i):
        print("*", end="")
    # stars again (middle)
    for j in range(i):
        print("*", end="")
    # right numbers
    for j in range(n - i, 0, -1):
        print(j, end="")
    print()

1234554321
1234**4321
123****321
12******21
1********1

In [5]:
n = int(input("Enter value of n: "))
s = 0

for i in range(1, n + 1):
    s += 1 / i

print("Sum of the series =", s)

Enter value of n: 11
Sum of the series = 3.0198773448773446